
/* COLOR SWATCHES */
input[type="radio"]{
    margin: 6px;
}

.yellow {
    border: 1px solid rgb(253, 253, 1);
    background-color: rgb(255, 255, 193);
}

.pink {
    border: 1px solid rgb(253, 1, 240);
    background-color: rgb(247, 150, 242);   
}

.teal {
    border: 1px solid rgb(1, 253, 211);
    background-color: rgb(160, 255, 239);
}

.green {
    border: 1px solid rgb(135, 253, 1);
    background-color: rgb(205, 255, 147);
}

.color-swatch{
        height: 35px;
        width: 35px;
    
        border-top: none;
        border-left: none;
        box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.192);
    }
